html, body {
    height: 100%;
    background-color:black;
}




.timer-display {
    text-align: center;
    min-height: 350px;
    padding-top:100px;
    padding-bottom:100px;
    font-size: 9rem;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff;
}

.counter-display {
    text-align: center;
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    background-color: #000000;
    color: #ffffff;
}

.button-container {
    text-align:center;
    padding: 10px;
}

#nav-tabContent
{
    min-height: 540px;
}

.time-input {
/*    margin: 10px auto;*/
    width: 90px !important;
}

.time-separator {
    margin: 5px 5px 0;
}

.jumbotron {
    position: relative;
}

#button_save_settings {
    position: absolute;
    top: 5px;
    right: 5px;
}

.form-settings{
    margin: 5px 0;
}

.form-group.row  label.col-sm.col-form-label{
    min-width: 150px;
    justify-content: start
}